<footer>
    <ul>
        <li>Support</li>
        <span class="seperator"></span>
        <li class="message-text"><a
                href="https://teams.microsoft.com/dl/launcher/launcher.html?url=%2F_%23%2Fl%2Fchat%2F0%2F0%3Fusers%3Di.blyou%40hva.nl%2Cs.scheffel%40hva.nl%2Cl.lieffering%40hva.nl%2Ca.akhatou%40hva.nl%2Ca.wu%40hva.nl%2Ca.crompvoets2%40hva.nl%2Cc.amrani%40hva.nl%2Cf.n.keizer2%40hva.nl%2Ci.n.m.suwandhy%40hva.nl%2Cm.wolterbeek%40hva.nl%2Cm.atrari%40hva.nl%2Co.van.kampen%40hva.nl%2Cr.krikke%40hva.nl%2Ct.hink%40hva.nl%26topicName%3DStudent%2520Info%2520&type=chat&deeplinkId=9bb8cf17-1785-4eff-a3de-16692dee32a1&directDl=true&msLaunch=true&enableMobilePage=true&suppressPrompt=true"
                target="_blank">Start
                chat (ma - vr, 9.00 - 16.00)</a></li>
        <li><a href="https://hva-ac.topdesk.net/tas/public/xfg/mijnhvaform" target="_blank" class="feedback-text">Meld
                storing of geef
                feedback</a>
        </li>
    </ul>
    <ul>
        <li>Legal</li>
        <span class="seperator"></span>
        <li><a href="https://www.hva.nl/home/disclaimers/privacy" target="_blank">Privacy statement</a></li>
    </ul>
</footer>
<div class="footer-bottom-bar">
    <span class="seperator"></span>
    <p>&copy; 2021 Hogeschool van Amsterdam</p>
</div>

<noscript>
    <h2>Er is iets fout gegaan...</h2>
    <p>
        Doe je javascript aan om de content te zien.
    </p>
</noscript>

<script>
    if ('serviceWorker' in navigator) {
        window.addEventListener('load', function () {
            navigator.serviceWorker.register('/service-worker.js').then(
                function (registration) {
                    // Registration was successful
                    console.log(
                        'ServiceWorker registration successful with scope: ',
                        registration.scope
                    )
                },
                function (err) {
                    // registration failed :(
                    console.log('ServiceWorker registration failed: ', err)
                }
            )
        })
    }


</script>

</body>

</html>