<%- include('partials/header.ejs') %>
  <!-- Main tip -->
  <main class="tip-container">
    <article>
      <h1 class="tip-title">
        <%= tip_id.title %>
      </h1>
      <p class="tip-body">
        <%= tip_id.body %>
      </p>
      <a href="/">Terug</a>
    </article>
  </main>